@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Predefined Color Pallete */

:root{
    --primary-color: #FF9800;
    --border1: #FFF;
    --border2: blueviolet;
    --neutral: #040d12;
    --text-color: #FFF;
}


html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: var(--neutral);
}

/* Hero Component Starts ... */

header{
    position:fixed;
    top: 0;
    width: 100%;
    padding: 0.8rem 9rem;
    border-bottom:1px solid #232323;
    display: flex;
    justify-content: space-between;
    background-color: var(--neutral);
    z-index: 10;
}
.logo{
    color: var(--text-color) ;
}
header nav{
    /* border: 1px solid var(--border2); */
    display: grid;
    place-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 1.5rem;
}
nav ul li a{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    transition: color 0.5s ease;
    color: var(--text-color);
}
nav a:hover, nav a.active1{
    color: var(--primary-color);
}

.hero-component{
    border: 1px dashed var(--border1);
    width: 100%;
    /* height: calc(100vh - 3.32rem); */
    height: 36.2rem;
    margin-top: 3.32rem;
    padding: 0 9rem;
    display: grid;
    place-items: center;
}
.hero-content{
    /* margin-top: 11rem; */
    border: 1px solid var(--border1);
    width: 100%;
    display: flex;
}
.context{
    /* border: 1px solid var(--border2); */
    width: 50%;
}
.context h2{
    color: var(--text-color);
    margin-bottom: 1rem;
    font-weight: 600;
}
.context #my-name{
    font-size: 2.5rem;
    font-weight: 700;
}
.context h2 span{
    color: var(--primary-color);
}
.hero-desc{
    color: var(--text-color);
}
.link-box{
    display: inline-block;
}
.social-media{
    display: flex;
    margin-top: 1.5rem;
}
.social-media a{
    border-radius: 50%;
    border: 1px solid var(--primary-color) ;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    color: var(--primary-color);
    transition: 0.5s ease;
}
.social-media .bx{
    font-size: 1.4rem;
}
.social-media a:hover{
    background-color: var(--primary-color);
    color: var(--neutral);
    box-shadow: 
    0px 0px 10px 1px  var(--primary-color);
}
.cv-button{
    display: inline-block;
    margin-top: 1.5rem;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 1.5rem;
    padding: 0.8rem 1.8rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}
.cv-button:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    box-shadow: 0px 0px 10px 4px  var(--primary-color);
}

.profile-section{
    width: 50%;
    display: grid;
    place-items: center;
}
.profile-pic{
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    box-shadow: 
    0px 0px 10px 8px  var(--primary-color),
    0px 0px 30px 15px  var(--primary-color);
    animation: slideUp 5s ease-in-out infinite;
}
.profile-pic img{
    width: 100%;
}
@keyframes slideUp{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-0.8rem);
    }
    100%{
        transform: translateY(0);
    }
}

